body {
  background-color: rgb(148, 143, 143);
}

.heading {
  background-color: rgb(223, 223, 223);
  border-radius: 3vh;
  height: 10vh;
  width: 37vw;
}

h1 {
  color: rgb(0, 0, 0);  
  margin-top: 5vh;
  font-size: 4vw;
  margin-left: 1vw;
}

.heading p {
  color: rgb(0, 0, 0);
  font-size: 2vw;
  margin-left: 2vw;
}

/* BODY FOR THE PAGE STYLING  */

.body-for-page {
  background-color: rgb(213, 213, 213);
  margin-top: 5vh;
  border-radius: 5vh;
  width: 97vw;
}

.body-for-page p {
  color: rgb(45, 45, 45);
  font-size: 2vw;
  margin-left: 2vw;
  margin-right: 4vw;
  padding-top: 1vw;
  margin-bottom: 2vh;

}

.about-section {
  background-color: rgb(213, 213, 213);
  margin-top: 1vh;
  border-radius: 5vh;
  width: 97vw;
}

.about-section p {
  color: rgb(45, 45, 45);
  font-size: 2vw;
  margin-left: 2vw;
  margin-right: 4vw;
  padding-top: 1vw;
  margin-bottom: 2vh;
}

/* BUTTONS PAGE */

.first-button {
  margin-left: 2vw;
}

.buttons {
  width: 50vw;
  background-color: rgb(201, 201, 201);
  height: 15vh;
  border-radius: 5vh;
  display: flex;
  flex-direction: row;
}

.buttons button {
  background-color: rgb(97, 94, 94);
  margin-top: 3vh;
  border-radius: 2vh;
  height: 7vh;
  width: 12vw;
  border: none;
  font-size: 30px;
  color: white;
  margin-right: 1vw;
}

.buttons button:hover {
  transition: 0.3s ease-in-out;
  background-color: rgb(67, 65, 65);
  color: cadetblue;
}