body {
    background-color: white;
    margin: 0;
}

.hide {
    display: none;
}

.h1-and-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
    border-radius: 0px 0px 10% 10%; 
    background: linear-gradient(to bottom, rgba(30, 196, 218, 0.8) 20%, transparent 100%);
    animation: fade 0s linear infinite; 
}

.h1-and-menu-button button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-right: 4vw;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 20%;
    font-size: 30px;
}

ion-icon {
    font-size: 10px;
    height: 30px;
    width: 30px;
}

.h1-and-menu-button button:active {
    transition: 0.3s ease-in-out;
    background-color: rgb(73, 112, 114);
}

h1 {
    color: black;
    font-size: 7vw;
    margin-left: 1vw;
    text-align: center;
}

.heading {
    width: 40vw;
    height: 12vh;
    margin-left: 1vw;
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(19, 161, 177, 0.8) 20%, transparent 100%);
    animation: fade 0s linear infinite;
}

@keyframes fade {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100%;
    }
}

.heading p {
    color: rgb(0, 0, 0);
    font-size: 4vw;
    margin-left: 3vw;
    opacity: 100%;
}