body {
    background-color: rgb(186, 186, 186);
}

.install-heading {
    background-color: rgb(238, 240, 240);
    width: 70vw;
    height: 13vw;
    border-radius: 5vh;
}

.install-heading h1 {
    margin-left: 2vw;
    font-size: 4vw;
    color: rgb(0, 0, 0);
}

.install-heading p{
    margin-left: 2vw;
    font-size: 3vw;
    color: rgb(0, 0, 0);
}

.installation-steps {
    background-color: rgb(238, 240, 240);
    width: 65vw;
    height: 9vw;
    border-radius: 5vh;
}

.installation-steps li {
    font-size: 2vw;
    
}