body {
    background-color: rgb(84, 84, 84);
}

.install-heading {
    background-color: cadetblue;
    width: 70vw;
    height: 13vw;
    border-radius: 5vh;
}

.install-heading h1 {
    margin-left: 2vw;
    font-size: 4vw;
    color: white;
}

.install-heading p{
    margin-left: 2vw;
    font-size: 3vw;
    color: white;
}

